@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  /* box-sizing: border-box; */
  --jr-text-color: #222;
  --jr-btn-primary-color: rgb(255, 255, 255);
  --jr-btn-hover-primary-color: white;
  --jr-btn-primary-bg-color: rgb(142, 62, 207);
  --jr-btn-hover-primary-bg-color: rgb(110, 45, 163);
  --jr-btn-border-primary-color: rgb(164, 93, 223);
  --jr-btn-hover-border-primary-color: rgb(184, 112, 243);
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.jr.button {
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: #444;
  font-family: inherit;
  padding: 0.75rem 1.25rem;
  margin: auto;
  background-color: white;
  border: solid 1px #999;
  border-radius: 0.25rem;
}

.jr.button:hover {
  color: #222;
  background-color: white;
  border-color: #555;
}

.jr.button-primary {
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--jr-btn-primary-color);
  font-family: inherit;
  padding: 0.75rem 1.25rem;
  margin: auto;
  background-color: var(--jr-btn-primary-bg-color);
  border: solid 1px var(--jr-btn-border-primary-color);
  border-radius: 0.25rem;
}

.jr.button-primary:hover {
  color: var(--jr-btn-hover-primary-color);
  background-color: var(--jr-btn-primary-bg-color);
  background-color: var(--jr-btn-hover-primary-bg-color);
  border-color: var(--jr-btn-hover-border-primary-color);
}

input.jr {
  color: #222;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  background-color: white;
  border: solid 1px #bbb;
  border-radius: 0.25rem;
  margin-bottom: 1.25rem;
}

label.jr {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

input.jr + small.jr {
  margin-top: -1rem;
  margin-bottom: 1.25rem;
}

.jr.text-v-center::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

@media (min-width: 0px) {
  .jr.mp-0 {
    margin: 0;
    padding: 0;
  }

  .jr.list-raw {
    list-style: none;
    padding-left: 0;
  }

  .jr.link-raw {
    text-decoration: none;
    color: inherit;
  }

  .jr.link-raw:hover {
    color: inherit;
    text-decoration: underline;
  }

  .jr.text-center {
    text-align: center;
  }

  .jr.h0 {
    height: 0%;
  }

  .jr.w0 {
    width: 0%;
  }

  .jr.h5 {
    height: 5%;
  }

  .jr.w5 {
    width: 5%;
  }

  .jr.h10 {
    height: 10%;
  }

  .jr.w10 {
    width: 10%;
  }

  .jr.h15 {
    height: 15%;
  }

  .jr.w15 {
    width: 15%;
  }

  .jr.h20 {
    height: 20%;
  }

  .jr.w20 {
    width: 20%;
  }

  .jr.h25 {
    height: 25%;
  }

  .jr.w25 {
    width: 25%;
  }

  .jr.h30 {
    height: 30%;
  }

  .jr.w30 {
    width: 30%;
  }

  .jr.h35 {
    height: 35%;
  }

  .jr.w35 {
    width: 35%;
  }

  .jr.h40 {
    height: 40%;
  }

  .jr.w40 {
    width: 40%;
  }

  .jr.h45 {
    height: 45%;
  }

  .jr.w45 {
    width: 45%;
  }

  .jr.h50 {
    height: 50%;
  }

  .jr.w50 {
    width: 50%;
  }

  .jr.h55 {
    height: 55%;
  }

  .jr.w55 {
    width: 55%;
  }

  .jr.h60 {
    height: 60%;
  }

  .jr.w60 {
    width: 60%;
  }

  .jr.h65 {
    height: 65%;
  }

  .jr.w65 {
    width: 65%;
  }

  .jr.h70 {
    height: 70%;
  }

  .jr.w70 {
    width: 70%;
  }

  .jr.h75 {
    height: 75%;
  }

  .jr.w75 {
    width: 75%;
  }

  .jr.h80 {
    height: 80%;
  }

  .jr.w80 {
    width: 80%;
  }

  .jr.h85 {
    height: 85%;
  }

  .jr.w85 {
    width: 85%;
  }

  .jr.h90 {
    height: 90%;
  }

  .jr.w90 {
    width: 90%;
  }

  .jr.h95 {
    height: 95%;
  }

  .jr.w95 {
    width: 95%;
  }

  .jr.h100 {
    height: 100%;
  }

  .jr.w100 {
    width: 100%;
  }

  .jr.w-auto, .jr.col-auto {
    width: auto;
  }

  .jr.h-auto {
    height: auto;
  }

  .jr.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .jr.flex-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .jr.flex-wrap {
    flex-wrap: wrap;
  }

  /* USE WITH flex-row or flex-col */
  .jr.between {
    justify-content: space-between;
  }

  .jr.evenly {
    justify-content: space-evenly;
  }

  .jr.around {
    justify-content: space-around;
  }

  .jr.center {
    justify-content: center;
  }

  .jr.flex-end {
    justify-content: flex-end;
  }

  .jr.flex-row .jr.col {
    width: 100%;
  }

  .jr.flex-col.center {
    align-items: center;
  }

  .jr.flex-grow-0 {
    flex-grow: 0;
  }

  .jr.flex-grow-1 {
    flex-grow: 1;
  }

  .jr.flex-grow-2 {
    flex-grow: 2;
  }

  .jr.flex-grow-3 {
    flex-grow: 3;
  }

  .jr.flex-grow-4 {
    flex-grow: 4;
  }

  .jr.flex-grow-5 {
    flex-grow: 5;
  }

  .jr.flex-grow-6 {
    flex-grow: 6;
  }

  .jr.flex-grow-7 {
    flex-grow: 7;
  }

  .jr.flex-grow-8 {
    flex-grow: 8;
  }

  .jr.flex-grow-9 {
    flex-grow: 9;
  }

  .jr.flex-grow-10 {
    flex-grow: 10;
  }

  .jr.flex-grow-11 {
    flex-grow: 11;
  }

  .jr.flex-grow-12 {
    flex-grow: 12;
  }

  .jr.flex-row .jr.col-05 {
    width: 4.16666%;
  }

  .jr.flex-row .jr.col-1 {
    width: 8.33333%;
  }

  .jr.flex-row .jr.col-15 {
    width: 12.5%;
  }

  .jr.flex-row .jr.col-2 {
    width: 16.66666%;
  }

  .jr.flex-row .jr.col-25 {
    width: 20.83333%;
  }

  .jr.flex-row .jr.col-3 {
    width: 25%;
  }

  .jr.flex-row .jr.col-35 {
    width: 29.16666%;
  }

  .jr.flex-row .jr.col-4 {
    width: 33.33333%;
  }

  .jr.flex-row .jr.col-45 {
    width: 37.5%;
  }

  .jr.flex-row .jr.col-5 {
    width: 41.66666%;
  }

  .jr.flex-row .jr.col-55 {
    width: 45.83333%;
  }

  .jr.flex-row .jr.col-6 {
    width: 50%;
  }

  .jr.flex-row .jr.col-65 {
    width: 54.16666%;
  }

  .jr.flex-row .jr.col-7 {
    width: 58.33333%;
  }

  .jr.flex-row .jr.col-75 {
    width: 62.5%;
  }

  .jr.flex-row .jr.col-8 {
    width: 66.66666%;
  }

  .jr.flex-row .jr.col-85 {
    width: 70.83333%;
  }

  .jr.flex-row .jr.col-9 {
    width: 75%;
  }

  .jr.flex-row .jr.col-95 {
    width: 79.16666%;
  }

  .jr.flex-row .jr.col-10 {
    width: 83.33333%;
  }

  .jr.flex-row .jr.col-105 {
    width: 87.5%;
  }

  .jr.flex-row .jr.col-11 {
    width: 91.66666%;
  }

  .jr.flex-row .jr.col-115 {
    width: 95.83333%;
  }

  .jr.flex-row .jr.col-12 {
    width: 100%;
  }

  .jr.card {
    margin: auto;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.349) 0.05rem 0.1rem 0.15rem;
  }

  .jr.center-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .jr.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(82, 82, 82, 0.226);
    width: 100vw;
    height: 100vh;
  }

  .jr.m-auto {
    margin: auto !important;
  }

  .jr.mh-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .jr.m-0 {
    margin: 0rem;
  }

  .jr.mt-0 {
    margin-top: 0rem;
  }

  .jr.mr-0 {
    margin-right: 0rem;
  }

  .jr.mb-0 {
    margin-bottom: 0rem;
  }

  .jr.ml-0 {
    margin-left: 0rem;
  }

  .jr.m-05 {
    margin: 0.5rem;
  }

  .jr.mt-05 {
    margin-top: 0.5rem;
  }

  .jr.mr-05 {
    margin-right: 0.5rem;
  }

  .jr.mb-05 {
    margin-bottom: 0.5rem;
  }

  .jr.ml-05 {
    margin-left: 0.5rem;
  }

  .jr.m-1 {
    margin: 1rem;
  }

  .jr.mt-1 {
    margin-top: 1rem;
  }

  .jr.mr-1 {
    margin-right: 1rem;
  }

  .jr.mb-1 {
    margin-bottom: 1rem;
  }

  .jr.ml-1 {
    margin-left: 1rem;
  }

  .jr.m-15 {
    margin: 1.5rem;
  }

  .jr.mt-15 {
    margin-top: 1.5rem;
  }

  .jr.mr-15 {
    margin-right: 1.5rem;
  }

  .jr.mb-15 {
    margin-bottom: 1.5rem;
  }

  .jr.ml-15 {
    margin-left: 1.5rem;
  }

  .jr.m-2 {
    margin: 2rem;
  }

  .jr.mt-2 {
    margin-top: 2rem;
  }

  .jr.mr-2 {
    margin-right: 2rem;
  }

  .jr.mb-2 {
    margin-bottom: 2rem;
  }

  .jr.ml-2 {
    margin-left: 2rem;
  }

  .jr.m-25 {
    margin: 2.5rem;
  }

  .jr.mt-25 {
    margin-top: 2.5rem;
  }

  .jr.mr-25 {
    margin-right: 2.5rem;
  }

  .jr.mb-25 {
    margin-bottom: 2.5rem;
  }

  .jr.ml-25 {
    margin-left: 2.5rem;
  }

  .jr.m-3 {
    margin: 3rem;
  }

  .jr.mt-3 {
    margin-top: 3rem;
  }

  .jr.mr-3 {
    margin-right: 3rem;
  }

  .jr.mb-3 {
    margin-bottom: 3rem;
  }

  .jr.ml-3 {
    margin-left: 3rem;
  }

  .jr.p-0 {
    padding: 0rem;
  }

  .jr.pt-0 {
    padding-top: 0rem;
  }

  .jr.pr-0 {
    padding-right: 0rem;
  }

  .jr.pb-0 {
    padding-bottom: 0rem;
  }

  .jr.pl-0 {
    padding-left: 0rem;
  }

  .jr.p-05 {
    padding: 0.5rem;
  }

  .jr.pt-05 {
    padding-top: 0.5rem;
  }

  .jr.pr-05 {
    padding-right: 0.5rem;
  }

  .jr.pb-05 {
    padding-bottom: 0.5rem;
  }

  .jr.pl-05 {
    padding-left: 0.5rem;
  }

  .jr.p-1 {
    padding: 1rem;
  }

  .jr.pt-1 {
    padding-top: 1rem;
  }

  .jr.pr-1 {
    padding-right: 1rem;
  }

  .jr.pb-1 {
    padding-bottom: 1rem;
  }

  .jr.pl-1 {
    padding-left: 1rem;
  }

  .jr.p-15 {
    padding: 1.5rem;
  }

  .jr.pt-15 {
    padding-top: 1.5rem;
  }

  .jr.pr-15 {
    padding-right: 1.5rem;
  }

  .jr.pb-15 {
    padding-bottom: 1.5rem;
  }

  .jr.pl-15 {
    padding-left: 1.5rem;
  }

  .jr.p-2 {
    padding: 2rem;
  }

  .jr.pt-2 {
    padding-top: 2rem;
  }

  .jr.pr-2 {
    padding-right: 2rem;
  }

  .jr.pb-2 {
    padding-bottom: 2rem;
  }

  .jr.pl-2 {
    padding-left: 2rem;
  }

  .jr.p-25 {
    padding: 2.5rem;
  }

  .jr.pt-25 {
    padding-top: 2.5rem;
  }

  .jr.pr-25 {
    padding-right: 2.5rem;
  }

  .jr.pb-25 {
    padding-bottom: 2.5rem;
  }

  .jr.pl-25 {
    padding-left: 2.5rem;
  }

  .jr.p-3 {
    padding: 3rem;
  }

  .jr.pt-3 {
    padding-top: 3rem;
  }

  .jr.pr-3 {
    padding-right: 3rem;
  }

  .jr.pb-3 {
    padding-bottom: 3rem;
  }

  .jr.pl-3 {
    padding-left: 3rem;
  }

  .jr.m-collapse {
    webkit-margin-collapse: collapse;
  }

  .jr.img {
    width: 100%;
  }

  .jr.none {
    display: none;
  }

  .jr.inline {
    display: inline;
  }

  .jr.block {
    display: block;
  }

  .jr.inline-block {
    display: inline-block;
  }

  .jr.mockup.bg {
    background-color: gray;
  }

  .jr.mockup.border {
    border: black 1px solid;
    box-sizing: border-box;
  }
}
@media (min-width: 720px) {
  .jr.mp-m-0 {
    margin: 0;
    padding: 0;
  }

  .jr.list-m-raw {
    list-style: none;
    padding-left: 0;
  }

  .jr.link-m-raw {
    text-decoration: none;
    color: inherit;
  }

  .jr.link-m-raw:hover {
    color: inherit;
    text-decoration: underline;
  }

  .jr.text-m-center {
    text-align: center;
  }

  .jr.h-m-0 {
    height: 0%;
  }

  .jr.w-m-0 {
    width: 0%;
  }

  .jr.h-m-5 {
    height: 5%;
  }

  .jr.w-m-5 {
    width: 5%;
  }

  .jr.h-m-10 {
    height: 10%;
  }

  .jr.w-m-10 {
    width: 10%;
  }

  .jr.h-m-15 {
    height: 15%;
  }

  .jr.w-m-15 {
    width: 15%;
  }

  .jr.h-m-20 {
    height: 20%;
  }

  .jr.w-m-20 {
    width: 20%;
  }

  .jr.h-m-25 {
    height: 25%;
  }

  .jr.w-m-25 {
    width: 25%;
  }

  .jr.h-m-30 {
    height: 30%;
  }

  .jr.w-m-30 {
    width: 30%;
  }

  .jr.h-m-35 {
    height: 35%;
  }

  .jr.w-m-35 {
    width: 35%;
  }

  .jr.h-m-40 {
    height: 40%;
  }

  .jr.w-m-40 {
    width: 40%;
  }

  .jr.h-m-45 {
    height: 45%;
  }

  .jr.w-m-45 {
    width: 45%;
  }

  .jr.h-m-50 {
    height: 50%;
  }

  .jr.w-m-50 {
    width: 50%;
  }

  .jr.h-m-55 {
    height: 55%;
  }

  .jr.w-m-55 {
    width: 55%;
  }

  .jr.h-m-60 {
    height: 60%;
  }

  .jr.w-m-60 {
    width: 60%;
  }

  .jr.h-m-65 {
    height: 65%;
  }

  .jr.w-m-65 {
    width: 65%;
  }

  .jr.h-m-70 {
    height: 70%;
  }

  .jr.w-m-70 {
    width: 70%;
  }

  .jr.h-m-75 {
    height: 75%;
  }

  .jr.w-m-75 {
    width: 75%;
  }

  .jr.h-m-80 {
    height: 80%;
  }

  .jr.w-m-80 {
    width: 80%;
  }

  .jr.h-m-85 {
    height: 85%;
  }

  .jr.w-m-85 {
    width: 85%;
  }

  .jr.h-m-90 {
    height: 90%;
  }

  .jr.w-m-90 {
    width: 90%;
  }

  .jr.h-m-95 {
    height: 95%;
  }

  .jr.w-m-95 {
    width: 95%;
  }

  .jr.h-m-100 {
    height: 100%;
  }

  .jr.w-m-100 {
    width: 100%;
  }

  .jr.w-m-auto, .jr.col-auto {
    width: auto;
  }

  .jr.h-m-auto {
    height: auto;
  }

  .jr.flex-m-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .jr.flex-m-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .jr.flex-m-wrap {
    flex-wrap: wrap;
  }

  /* USE WITH flex-row or flex-col */
  .jr.between-m {
    justify-content: space-between;
  }

  .jr.evenly-m {
    justify-content: space-evenly;
  }

  .jr.around-m {
    justify-content: space-around;
  }

  .jr.center-m {
    justify-content: center;
  }

  .jr.flex-end-m {
    justify-content: flex-end;
  }

  .jr.flex-m-row .jr.col-m {
    width: 100%;
  }

  .jr.flex-col.center {
    align-items: center;
  }

  .jr.flex-m-grow-0 {
    flex-grow: 0;
  }

  .jr.flex-m-grow-1 {
    flex-grow: 1;
  }

  .jr.flex-m-grow-2 {
    flex-grow: 2;
  }

  .jr.flex-m-grow-3 {
    flex-grow: 3;
  }

  .jr.flex-m-grow-4 {
    flex-grow: 4;
  }

  .jr.flex-m-grow-5 {
    flex-grow: 5;
  }

  .jr.flex-m-grow-6 {
    flex-grow: 6;
  }

  .jr.flex-m-grow-7 {
    flex-grow: 7;
  }

  .jr.flex-m-grow-8 {
    flex-grow: 8;
  }

  .jr.flex-m-grow-9 {
    flex-grow: 9;
  }

  .jr.flex-m-grow-10 {
    flex-grow: 10;
  }

  .jr.flex-m-grow-11 {
    flex-grow: 11;
  }

  .jr.flex-m-grow-12 {
    flex-grow: 12;
  }

  .jr.flex-m-row .jr.col-m-05 {
    width: 4.16666%;
  }

  .jr.flex-m-row .jr.col-m-1 {
    width: 8.33333%;
  }

  .jr.flex-m-row .jr.col-m-15 {
    width: 12.5%;
  }

  .jr.flex-m-row .jr.col-m-2 {
    width: 16.66666%;
  }

  .jr.flex-m-row .jr.col-m-25 {
    width: 20.83333%;
  }

  .jr.flex-m-row .jr.col-m-3 {
    width: 25%;
  }

  .jr.flex-m-row .jr.col-m-35 {
    width: 29.16666%;
  }

  .jr.flex-m-row .jr.col-m-4 {
    width: 33.33333%;
  }

  .jr.flex-m-row .jr.col-m-45 {
    width: 37.5%;
  }

  .jr.flex-m-row .jr.col-m-5 {
    width: 41.66666%;
  }

  .jr.flex-m-row .jr.col-m-55 {
    width: 45.83333%;
  }

  .jr.flex-m-row .jr.col-m-6 {
    width: 50%;
  }

  .jr.flex-m-row .jr.col-m-65 {
    width: 54.16666%;
  }

  .jr.flex-m-row .jr.col-m-7 {
    width: 58.33333%;
  }

  .jr.flex-m-row .jr.col-m-75 {
    width: 62.5%;
  }

  .jr.flex-m-row .jr.col-m-8 {
    width: 66.66666%;
  }

  .jr.flex-m-row .jr.col-m-85 {
    width: 70.83333%;
  }

  .jr.flex-m-row .jr.col-m-9 {
    width: 75%;
  }

  .jr.flex-m-row .jr.col-m-95 {
    width: 79.16666%;
  }

  .jr.flex-m-row .jr.col-m-10 {
    width: 83.33333%;
  }

  .jr.flex-m-row .jr.col-m-105 {
    width: 87.5%;
  }

  .jr.flex-m-row .jr.col-m-11 {
    width: 91.66666%;
  }

  .jr.flex-m-row .jr.col-m-115 {
    width: 95.83333%;
  }

  .jr.flex-m-row .jr.col-m-12 {
    width: 100%;
  }

  .jr.card-m {
    margin: auto;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.349) 0.05rem 0.1rem 0.15rem;
  }

  .jr.center-modal-m {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .jr.modal-bg-m {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(82, 82, 82, 0.226);
    width: 100vw;
    height: 100vh;
  }

  .jr.m-m-auto {
    margin: auto !important;
  }

  .jr.mh-m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .jr.m-m-0 {
    margin: 0rem;
  }

  .jr.mt-m-0 {
    margin-top: 0rem;
  }

  .jr.mr-m-0 {
    margin-right: 0rem;
  }

  .jr.mb-m-0 {
    margin-bottom: 0rem;
  }

  .jr.ml-m-0 {
    margin-left: 0rem;
  }

  .jr.m-m-05 {
    margin: 0.5rem;
  }

  .jr.mt-m-05 {
    margin-top: 0.5rem;
  }

  .jr.mr-m-05 {
    margin-right: 0.5rem;
  }

  .jr.mb-m-05 {
    margin-bottom: 0.5rem;
  }

  .jr.ml-m-05 {
    margin-left: 0.5rem;
  }

  .jr.m-m-1 {
    margin: 1rem;
  }

  .jr.mt-m-1 {
    margin-top: 1rem;
  }

  .jr.mr-m-1 {
    margin-right: 1rem;
  }

  .jr.mb-m-1 {
    margin-bottom: 1rem;
  }

  .jr.ml-m-1 {
    margin-left: 1rem;
  }

  .jr.m-m-15 {
    margin: 1.5rem;
  }

  .jr.mt-m-15 {
    margin-top: 1.5rem;
  }

  .jr.mr-m-15 {
    margin-right: 1.5rem;
  }

  .jr.mb-m-15 {
    margin-bottom: 1.5rem;
  }

  .jr.ml-m-15 {
    margin-left: 1.5rem;
  }

  .jr.m-m-2 {
    margin: 2rem;
  }

  .jr.mt-m-2 {
    margin-top: 2rem;
  }

  .jr.mr-m-2 {
    margin-right: 2rem;
  }

  .jr.mb-m-2 {
    margin-bottom: 2rem;
  }

  .jr.ml-m-2 {
    margin-left: 2rem;
  }

  .jr.m-m-25 {
    margin: 2.5rem;
  }

  .jr.mt-m-25 {
    margin-top: 2.5rem;
  }

  .jr.mr-m-25 {
    margin-right: 2.5rem;
  }

  .jr.mb-m-25 {
    margin-bottom: 2.5rem;
  }

  .jr.ml-m-25 {
    margin-left: 2.5rem;
  }

  .jr.m-m-3 {
    margin: 3rem;
  }

  .jr.mt-m-3 {
    margin-top: 3rem;
  }

  .jr.mr-m-3 {
    margin-right: 3rem;
  }

  .jr.mb-m-3 {
    margin-bottom: 3rem;
  }

  .jr.ml-m-3 {
    margin-left: 3rem;
  }

  .jr.p-m-0 {
    padding: 0rem;
  }

  .jr.pt-m-0 {
    padding-top: 0rem;
  }

  .jr.pr-m-0 {
    padding-right: 0rem;
  }

  .jr.pb-m-0 {
    padding-bottom: 0rem;
  }

  .jr.pl-m-0 {
    padding-left: 0rem;
  }

  .jr.p-m-05 {
    padding: 0.5rem;
  }

  .jr.pt-m-05 {
    padding-top: 0.5rem;
  }

  .jr.pr-m-05 {
    padding-right: 0.5rem;
  }

  .jr.pb-m-05 {
    padding-bottom: 0.5rem;
  }

  .jr.pl-m-05 {
    padding-left: 0.5rem;
  }

  .jr.p-m-1 {
    padding: 1rem;
  }

  .jr.pt-m-1 {
    padding-top: 1rem;
  }

  .jr.pr-m-1 {
    padding-right: 1rem;
  }

  .jr.pb-m-1 {
    padding-bottom: 1rem;
  }

  .jr.pl-m-1 {
    padding-left: 1rem;
  }

  .jr.p-m-15 {
    padding: 1.5rem;
  }

  .jr.pt-m-15 {
    padding-top: 1.5rem;
  }

  .jr.pr-m-15 {
    padding-right: 1.5rem;
  }

  .jr.pb-m-15 {
    padding-bottom: 1.5rem;
  }

  .jr.pl-m-15 {
    padding-left: 1.5rem;
  }

  .jr.p-m-2 {
    padding: 2rem;
  }

  .jr.pt-m-2 {
    padding-top: 2rem;
  }

  .jr.pr-m-2 {
    padding-right: 2rem;
  }

  .jr.pb-m-2 {
    padding-bottom: 2rem;
  }

  .jr.pl-m-2 {
    padding-left: 2rem;
  }

  .jr.p-m-25 {
    padding: 2.5rem;
  }

  .jr.pt-m-25 {
    padding-top: 2.5rem;
  }

  .jr.pr-m-25 {
    padding-right: 2.5rem;
  }

  .jr.pb-m-25 {
    padding-bottom: 2.5rem;
  }

  .jr.pl-m-25 {
    padding-left: 2.5rem;
  }

  .jr.p-m-3 {
    padding: 3rem;
  }

  .jr.pt-m-3 {
    padding-top: 3rem;
  }

  .jr.pr-m-3 {
    padding-right: 3rem;
  }

  .jr.pb-m-3 {
    padding-bottom: 3rem;
  }

  .jr.pl-m-3 {
    padding-left: 3rem;
  }

  .jr.m-m-collapse {
    webkit-margin-collapse: collapse;
  }

  .jr.img-m {
    width: 100%;
  }

  .jr.none-m {
    display: none;
  }

  .jr.inline-m {
    display: inline;
  }

  .jr.block-m {
    display: block;
  }

  .jr.inline-block-m {
    display: inline-block;
  }

  .jr.mockup.bg {
    background-color: gray;
  }

  .jr.mockup.border {
    border: black 1px solid;
    box-sizing: border-box;
  }
}
@media (min-width: 1024px) {
  .jr.mp-l-0 {
    margin: 0;
    padding: 0;
  }

  .jr.list-l-raw {
    list-style: none;
    padding-left: 0;
  }

  .jr.link-l-raw {
    text-decoration: none;
    color: inherit;
  }

  .jr.link-l-raw:hover {
    color: inherit;
    text-decoration: underline;
  }

  .jr.text-l-center {
    text-align: center;
  }

  .jr.h-l-0 {
    height: 0%;
  }

  .jr.w-l-0 {
    width: 0%;
  }

  .jr.h-l-5 {
    height: 5%;
  }

  .jr.w-l-5 {
    width: 5%;
  }

  .jr.h-l-10 {
    height: 10%;
  }

  .jr.w-l-10 {
    width: 10%;
  }

  .jr.h-l-15 {
    height: 15%;
  }

  .jr.w-l-15 {
    width: 15%;
  }

  .jr.h-l-20 {
    height: 20%;
  }

  .jr.w-l-20 {
    width: 20%;
  }

  .jr.h-l-25 {
    height: 25%;
  }

  .jr.w-l-25 {
    width: 25%;
  }

  .jr.h-l-30 {
    height: 30%;
  }

  .jr.w-l-30 {
    width: 30%;
  }

  .jr.h-l-35 {
    height: 35%;
  }

  .jr.w-l-35 {
    width: 35%;
  }

  .jr.h-l-40 {
    height: 40%;
  }

  .jr.w-l-40 {
    width: 40%;
  }

  .jr.h-l-45 {
    height: 45%;
  }

  .jr.w-l-45 {
    width: 45%;
  }

  .jr.h-l-50 {
    height: 50%;
  }

  .jr.w-l-50 {
    width: 50%;
  }

  .jr.h-l-55 {
    height: 55%;
  }

  .jr.w-l-55 {
    width: 55%;
  }

  .jr.h-l-60 {
    height: 60%;
  }

  .jr.w-l-60 {
    width: 60%;
  }

  .jr.h-l-65 {
    height: 65%;
  }

  .jr.w-l-65 {
    width: 65%;
  }

  .jr.h-l-70 {
    height: 70%;
  }

  .jr.w-l-70 {
    width: 70%;
  }

  .jr.h-l-75 {
    height: 75%;
  }

  .jr.w-l-75 {
    width: 75%;
  }

  .jr.h-l-80 {
    height: 80%;
  }

  .jr.w-l-80 {
    width: 80%;
  }

  .jr.h-l-85 {
    height: 85%;
  }

  .jr.w-l-85 {
    width: 85%;
  }

  .jr.h-l-90 {
    height: 90%;
  }

  .jr.w-l-90 {
    width: 90%;
  }

  .jr.h-l-95 {
    height: 95%;
  }

  .jr.w-l-95 {
    width: 95%;
  }

  .jr.h-l-100 {
    height: 100%;
  }

  .jr.w-l-100 {
    width: 100%;
  }

  .jr.w-l-auto, .jr.col-auto {
    width: auto;
  }

  .jr.h-l-auto {
    height: auto;
  }

  .jr.flex-l-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .jr.flex-l-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .jr.flex-l-wrap {
    flex-wrap: wrap;
  }

  /* USE WITH flex-row or flex-col */
  .jr.between-l {
    justify-content: space-between;
  }

  .jr.evenly-l {
    justify-content: space-evenly;
  }

  .jr.around-l {
    justify-content: space-around;
  }

  .jr.center-l {
    justify-content: center;
  }

  .jr.flex-end-l {
    justify-content: flex-end;
  }

  .jr.flex-l-row .jr.col-l {
    width: 100%;
  }

  .jr.flex-col.center {
    align-items: center;
  }

  .jr.flex-l-grow-0 {
    flex-grow: 0;
  }

  .jr.flex-l-grow-1 {
    flex-grow: 1;
  }

  .jr.flex-l-grow-2 {
    flex-grow: 2;
  }

  .jr.flex-l-grow-3 {
    flex-grow: 3;
  }

  .jr.flex-l-grow-4 {
    flex-grow: 4;
  }

  .jr.flex-l-grow-5 {
    flex-grow: 5;
  }

  .jr.flex-l-grow-6 {
    flex-grow: 6;
  }

  .jr.flex-l-grow-7 {
    flex-grow: 7;
  }

  .jr.flex-l-grow-8 {
    flex-grow: 8;
  }

  .jr.flex-l-grow-9 {
    flex-grow: 9;
  }

  .jr.flex-l-grow-10 {
    flex-grow: 10;
  }

  .jr.flex-l-grow-11 {
    flex-grow: 11;
  }

  .jr.flex-l-grow-12 {
    flex-grow: 12;
  }

  .jr.flex-l-row .jr.col-l-05 {
    width: 4.16666%;
  }

  .jr.flex-l-row .jr.col-l-1 {
    width: 8.33333%;
  }

  .jr.flex-l-row .jr.col-l-15 {
    width: 12.5%;
  }

  .jr.flex-l-row .jr.col-l-2 {
    width: 16.66666%;
  }

  .jr.flex-l-row .jr.col-l-25 {
    width: 20.83333%;
  }

  .jr.flex-l-row .jr.col-l-3 {
    width: 25%;
  }

  .jr.flex-l-row .jr.col-l-35 {
    width: 29.16666%;
  }

  .jr.flex-l-row .jr.col-l-4 {
    width: 33.33333%;
  }

  .jr.flex-l-row .jr.col-l-45 {
    width: 37.5%;
  }

  .jr.flex-l-row .jr.col-l-5 {
    width: 41.66666%;
  }

  .jr.flex-l-row .jr.col-l-55 {
    width: 45.83333%;
  }

  .jr.flex-l-row .jr.col-l-6 {
    width: 50%;
  }

  .jr.flex-l-row .jr.col-l-65 {
    width: 54.16666%;
  }

  .jr.flex-l-row .jr.col-l-7 {
    width: 58.33333%;
  }

  .jr.flex-l-row .jr.col-l-75 {
    width: 62.5%;
  }

  .jr.flex-l-row .jr.col-l-8 {
    width: 66.66666%;
  }

  .jr.flex-l-row .jr.col-l-85 {
    width: 70.83333%;
  }

  .jr.flex-l-row .jr.col-l-9 {
    width: 75%;
  }

  .jr.flex-l-row .jr.col-l-95 {
    width: 79.16666%;
  }

  .jr.flex-l-row .jr.col-l-10 {
    width: 83.33333%;
  }

  .jr.flex-l-row .jr.col-l-105 {
    width: 87.5%;
  }

  .jr.flex-l-row .jr.col-l-11 {
    width: 91.66666%;
  }

  .jr.flex-l-row .jr.col-l-115 {
    width: 95.83333%;
  }

  .jr.flex-l-row .jr.col-l-12 {
    width: 100%;
  }

  .jr.card-l {
    margin: auto;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.349) 0.05rem 0.1rem 0.15rem;
  }

  .jr.center-modal-l {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .jr.modal-bg-l {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(82, 82, 82, 0.226);
    width: 100vw;
    height: 100vh;
  }

  .jr.m-l-auto {
    margin: auto !important;
  }

  .jr.mh-l-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .jr.m-l-0 {
    margin: 0rem;
  }

  .jr.mt-l-0 {
    margin-top: 0rem;
  }

  .jr.mr-l-0 {
    margin-right: 0rem;
  }

  .jr.mb-l-0 {
    margin-bottom: 0rem;
  }

  .jr.ml-l-0 {
    margin-left: 0rem;
  }

  .jr.m-l-05 {
    margin: 0.5rem;
  }

  .jr.mt-l-05 {
    margin-top: 0.5rem;
  }

  .jr.mr-l-05 {
    margin-right: 0.5rem;
  }

  .jr.mb-l-05 {
    margin-bottom: 0.5rem;
  }

  .jr.ml-l-05 {
    margin-left: 0.5rem;
  }

  .jr.m-l-1 {
    margin: 1rem;
  }

  .jr.mt-l-1 {
    margin-top: 1rem;
  }

  .jr.mr-l-1 {
    margin-right: 1rem;
  }

  .jr.mb-l-1 {
    margin-bottom: 1rem;
  }

  .jr.ml-l-1 {
    margin-left: 1rem;
  }

  .jr.m-l-15 {
    margin: 1.5rem;
  }

  .jr.mt-l-15 {
    margin-top: 1.5rem;
  }

  .jr.mr-l-15 {
    margin-right: 1.5rem;
  }

  .jr.mb-l-15 {
    margin-bottom: 1.5rem;
  }

  .jr.ml-l-15 {
    margin-left: 1.5rem;
  }

  .jr.m-l-2 {
    margin: 2rem;
  }

  .jr.mt-l-2 {
    margin-top: 2rem;
  }

  .jr.mr-l-2 {
    margin-right: 2rem;
  }

  .jr.mb-l-2 {
    margin-bottom: 2rem;
  }

  .jr.ml-l-2 {
    margin-left: 2rem;
  }

  .jr.m-l-25 {
    margin: 2.5rem;
  }

  .jr.mt-l-25 {
    margin-top: 2.5rem;
  }

  .jr.mr-l-25 {
    margin-right: 2.5rem;
  }

  .jr.mb-l-25 {
    margin-bottom: 2.5rem;
  }

  .jr.ml-l-25 {
    margin-left: 2.5rem;
  }

  .jr.m-l-3 {
    margin: 3rem;
  }

  .jr.mt-l-3 {
    margin-top: 3rem;
  }

  .jr.mr-l-3 {
    margin-right: 3rem;
  }

  .jr.mb-l-3 {
    margin-bottom: 3rem;
  }

  .jr.ml-l-3 {
    margin-left: 3rem;
  }

  .jr.p-l-0 {
    padding: 0rem;
  }

  .jr.pt-l-0 {
    padding-top: 0rem;
  }

  .jr.pr-l-0 {
    padding-right: 0rem;
  }

  .jr.pb-l-0 {
    padding-bottom: 0rem;
  }

  .jr.pl-l-0 {
    padding-left: 0rem;
  }

  .jr.p-l-05 {
    padding: 0.5rem;
  }

  .jr.pt-l-05 {
    padding-top: 0.5rem;
  }

  .jr.pr-l-05 {
    padding-right: 0.5rem;
  }

  .jr.pb-l-05 {
    padding-bottom: 0.5rem;
  }

  .jr.pl-l-05 {
    padding-left: 0.5rem;
  }

  .jr.p-l-1 {
    padding: 1rem;
  }

  .jr.pt-l-1 {
    padding-top: 1rem;
  }

  .jr.pr-l-1 {
    padding-right: 1rem;
  }

  .jr.pb-l-1 {
    padding-bottom: 1rem;
  }

  .jr.pl-l-1 {
    padding-left: 1rem;
  }

  .jr.p-l-15 {
    padding: 1.5rem;
  }

  .jr.pt-l-15 {
    padding-top: 1.5rem;
  }

  .jr.pr-l-15 {
    padding-right: 1.5rem;
  }

  .jr.pb-l-15 {
    padding-bottom: 1.5rem;
  }

  .jr.pl-l-15 {
    padding-left: 1.5rem;
  }

  .jr.p-l-2 {
    padding: 2rem;
  }

  .jr.pt-l-2 {
    padding-top: 2rem;
  }

  .jr.pr-l-2 {
    padding-right: 2rem;
  }

  .jr.pb-l-2 {
    padding-bottom: 2rem;
  }

  .jr.pl-l-2 {
    padding-left: 2rem;
  }

  .jr.p-l-25 {
    padding: 2.5rem;
  }

  .jr.pt-l-25 {
    padding-top: 2.5rem;
  }

  .jr.pr-l-25 {
    padding-right: 2.5rem;
  }

  .jr.pb-l-25 {
    padding-bottom: 2.5rem;
  }

  .jr.pl-l-25 {
    padding-left: 2.5rem;
  }

  .jr.p-l-3 {
    padding: 3rem;
  }

  .jr.pt-l-3 {
    padding-top: 3rem;
  }

  .jr.pr-l-3 {
    padding-right: 3rem;
  }

  .jr.pb-l-3 {
    padding-bottom: 3rem;
  }

  .jr.pl-l-3 {
    padding-left: 3rem;
  }

  .jr.m-l-collapse {
    webkit-margin-collapse: collapse;
  }

  .jr.img-l {
    width: 100%;
  }

  .jr.none-l {
    display: none;
  }

  .jr.inline-l {
    display: inline;
  }

  .jr.block-l {
    display: block;
  }

  .jr.inline-block-l {
    display: inline-block;
  }

  .jr.mockup.bg {
    background-color: gray;
  }

  .jr.mockup.border {
    border: black 1px solid;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=jr.css.map */
